.git
.gitignore
.idea
.venv
__pycache__
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.ipynb_checkpoints

data/
checkpoints/
experiments/
outputs/
logs/
notebooks/
archive_legacy/
archive_unused/
temp/

*.ipynb
*.docx
*.mat
*.tar
*.zip
*.log
