__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.ipynb
!notebooks/*.ipynb
.idea/
src/.idea/
venv/
.venv/
env/
.env
data/
logs/
experiments/
.git
*.pyc
*.log
*.h5
*.npy
best_vs_worst.png
score_hist.png
score_scatter.png
models/
src/filtered_mnist_topk/
src/filtered_mnist_qq/
