__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.ipynb
!notebooks/*.ipynb
.idea/
src/.idea/
venv/
.venv/
env/
.env
data/*
!data/README.md
logs/
experiments/*
!experiments/README.md
outputs/*
!outputs/README.md
.git
*.pyc
*.log
*.h5
*.npy
best_vs_worst.png
score_hist.png
score_scatter.png
models/*
!models/README.md
src/filtered_mnist_topk/
src/filtered_mnist_qq/
